<div class="main-page">
    <div class="wrapper">
        <div class="merry-christmas">
            <div class="congrats">
                <h1>Поздравляю с Новым 2025 Годом!</h1>
            </div>
        </div>
        <div class="photos">
            <img src="photo_5422476351451031635_y.jpg" alt="">
            <img src="photo_5422476351451031634_y.jpg" alt="">
            <img src="photo_5422476351451031653_y.jpg" alt="">
            <img src="photo_5422476351451031649_y.jpg" alt="">
        </div>
    </div>
    <div class="link">
        <a routerLink="/congratulations">На следующую страницу</a>
    </div>
</div>